/* Andy Sokolowski    2019/09/04     guessinggame.css */

body {
  font-size: 23px;
  color: #a3a3c2;
  background-color: #47476b;
  font-family: Optima, Arial, sans-serif;
}

h1 {
  font-family: Palatino, "Times New Roman", serif;
  width: 670px;
  text-decoration: underline;
  padding: 15px 0px;
}

h3 {
  color: #c2c2d6;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

#guess-box {
  text-align: center;
  height: 60px;
  width: 70px;
}

button {
  height: 60px;
  width: 185px;
}

h1, #guess-box, button {
  color: #006622;
  background-color: #8585ad;
  font-weight: bold;
}

#guessbox, button {
  font-size: 23px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-family: "Andale Mono", "Courier New", monospace;
}
